{{ define "body_classes" }}page-contact{{ end }} {{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{.Title}}</h1>
        {{ partial "call.html" (dict "site" .Site "context" . "show_button"
        "false") }}
        <br />
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82153.90917297285!2d7.32769759884613!3d49.94929341415135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47be199714f736b5%3A0x3cfa163de7fec4a8!2sPhysiotherapie%20Thomas%20Ricklin-Thiry!5e0!3m2!1sde!2sde!4v1673739977884!5m2!1sde!2sde"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <div class="content mt-4">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>

{{ end }}
